
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Limelight&display=swap');

html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla','san serif';
}

body{
    background: #e7e2e2;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 35px;
    color: #112D4E;
    text-decoration: none;
    font-weight: 800;
    font-family: 'limelight', sans-serif;
}

.navbar a{
    font-size: 25px;
    color: #112D4E;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
    background: #e7e2e2;
    border-radius: 5px;
    
    transition: 0.3s;
}

.navbar a:hover .nav-text,
.navbar a.active .nav-text {
    transform: scale(1.18);
    display: inline-block;
    transition: transform 0.3s;
}

.home{
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: black;
    margin-top: 100px;
}

.home-content{
    
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    
}
.home-content h3{
    font-size: 36px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p{
 
    font-size: 20px;
    font-weight: 200;
    margin: 20px 0 40px;
    color: #112D4E;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
   
}


.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{ 
    background: #00abf0;
    color: #081b29;
}



.btn-box a:nth-child(2)::before
{
    background: #00abf0;
}


.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #ffffff ;
    z-index: -1;
    transition: .5s;

}

.btn-box a:hover::before{

    width: 100%;

}





.carousel{
    margin: 100px auto;
    width: 90%;
    border: 5px solid #feffff;
    display: flex;
    overflow-x: hidden;
    margin-left: 10%;
    border-color: #081b29;
    background: #112D4E;
}
.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: slide 10s infinite linear;
}

.card{
    flex:0 0 200px;
    height: 350px;
    padding: 0 1em;
    background: #ffffff;
    font-size: 1rem;
    border-radius: .2em;
    text-align: center;
    line-height: 150px;
    
}




@keyframes slide{
from{
    transform: translateX(0);
}
to {
    transform: translateX(-80%);
}
}

#about{
    background: #f5f5f5;
    color: #112D4E;
    padding: 100px;
    min-height: 60vh;
    font-weight: 700;
}
#about p{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
}
#about h2{
    font-size: 46px;
    margin-bottom: 20px;
    font-weight: 800;
    
}


#projects{
    font-size: 46px;
    padding: 100px 10%;
    min-height: 60vh;
    background: #112D4E;
    color: #e7e2e2;
}
#projects p{
    font-size: 16px;
}


#socials{
    padding: 100px 10%;
    min-height: 60vh;
    background: #f5f5f5;
    color: #112D4E;
    text-align: center;
    font-size: 46px;
}

#socials p{
    font-size: 26px;
}

#socials a{
  position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: transparent;
    border: 3px solid #00abf0;
    border-radius: 50%;
    font-size: 40px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin:  100px;
}
#socials a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s ;
}

 #socials a:hover{
    color: #ffffff;
    background: #00abf0;
 }
 